body {  font-family: Arial, sans-serif;
  margin: 0;  padding: 0;
  background: #FFE4C4;}


.filter .column > p {
    border-radius: 5px;    cursor: pointer;
    padding: 8px;    background-color: #D0D0D0;
    transition: background-color 0.3s ease;   border: 1px solid transparent;
  }


  .filter .column > p:hover {    background-color: #B0B0B0;
    border: 1px solid #666;  
}


/* Медіа-запит для мобільних пристроїв */
@media screen and (min-width: 375px) and (max-width: 730px) {  
  
  header {    
    text-align: center;
  }
  
  .filter {    
    display: flex;
    align-items: center;    
    justify-content: center;
  }
  
  .filter .column {    
    margin-bottom: 10px;
    margin-left: 30px;  
  }
  
  main  {
    padding: 10px;    display: flex;
    justify-content: center;  
  }
  
  .cake img {
    max-width: 350px;     width: 100%;
    height: auto;     border-radius: 10px; 
    margin: auto;     display: block; 
  }  
  
  footer {   
    text-align: center;
    padding: 10px;
  }
  
    .cake-item > a > p {
   display: none;  
  }
  
    .cake-item:not(:last-child) {
   margin-bottom: 15px;  
  }
}
/* Медіа-запит для планшетів */@media screen and (min-width: 730px)   {
   
  .filter {    
    display: flex;
    flex-direction: column;  
  }
  
  .filter > .column {
    display: flex;    
    justify-content: space-between;
    margin-bottom: 10px;  
  }
  
  .filter > .column > p {
    width: 200px;     
    margin: 0 auto; 
    padding: 15px;     
    text-align: center; 
    cursor: pointer;    
    background-color: #D0D0D0;
    transition: background-color 0.3s ease;     
    line-height: 1.5; 
    border: 1px solid transparent;     
    border-radius: 5px; 
    min-size: 100%;
  }
  
  .filter > .column > p:hover {    
    background-color: #B0B0B0;
    border: 1px solid #666;   
  }
  
    main > .cake {    
      padding: 20px;
    
      display: flex;    
      justify-content: space-between; 
    flex-wrap: wrap;   
  }
  
  .cake-item {
    width: calc(31% - 20px);   
    margin-bottom: 20px;
    position: relative;  box-sizing: border-box; 
    transition: border 0.3s ease; 
  }
  
.cake-item:hover {
  border: 1px solid #DEB887;  border-radius: 10px;
}
  
  .cake img {
    max-width: 100%;    
    width: 100%;
    height: auto;    
    border-radius: 10px; 
    display: block;  
  }
  
  .cake-item  p {
    position: absolute;    
    bottom: -16px;
    left: 0;    
    width: 100%;
    text-align: center;    
    opacity: 0;
    transition: opacity 0.3s ease;    
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;  
  }

  .cake-item:hover p {    
    opacity: 1;
  }  
  
  footer {   
    display:flex;
    justify-content: space-between;    
    padding: 0 20px;
  } 
  header {
  text-align:center;  
  }
}

span {
	color: red;
  	font-size: 45px;
}


@media screen and (min-width: 1200px) {
  .filter > .column > p {
    font-size: 25px; 
  }
  
  footer {
    font-size: 25px;
  }
}